html{
 box-sizing: border-box;
 font-size: 16px;
}
*, *::before, *::after{
    box-sizing: inherit;
}
*{
    font-family: system-ui, "Liberation Sans", "DejaVu Sans", "FreeSans";
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(50 50 50);
}

header{
    background-image: url("../imgs_p/route_icon.png");
    background-color: rgb(255 255 255);
    background-size: 80px;
    padding: 8px 0;
    height: 70px;
}
h1{
    backdrop-filter: blur(10px);
    padding: 8px;
    margin: 8px 0;
    font-size: 3em;
    text-align: center;
    color: rgb(250 190 250);
}

main{
    width: 93%;
    border: 2px solid rgb(145 145 145);
    border-radius: 30px;
    margin: 32px auto;
    display: flex;
    flex-flow: row wrap;
}

#conte_main_nav{
    position: sticky;
    top: 0;
    z-index: 1;
}
#main_nav{
    background-color: rgb(255 155 0);
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#main_nav ul{
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    font-size: 1.5rem;
    width: 90%;
    justify-content: space-evenly;
    align-items: center;
/*
    gap: .5em;
*/
}

.logo_nav{
    background-color: rgb(240 160 160);
}
.logo_nav img{
    width: 55px;
}

ul a {
    padding: 12px;
    text-decoration: none;
    color: rgb(0 0 0);
}
ul li {
    padding: 12px;
}

/*
ul li:hover{
	color: red;
}
*/
a:hover{
    color: white;
    background-color: black;
}
section{
    margin: 16px 24px;
    padding: 16px;
}
section:first-child{
    flex: 2;
}

main .conte_galeria:nth-child(2) .galeria{
    justify-content: center;
}



/*Login*/

.icon-map{
    display: block;
    height: 150px;
    width: 150px;
    object-fit: cover;
    background-color: rgb(245 245 245);
    margin: 16px auto;
    border-radius: 29px;
}
#sign-up{
    max-width: 500px;
    border: 1px solid rgb(0 0 0);
    border-radius: 29px;
    color: rgb(255 255 255);
    padding: 1em;
    background-color: rgb(20 20 20);
    margin: 8px auto;
}
#sign-up fieldset{
    padding: 8px;
    border-radius: 1em;
}
#sign-up fieldset legend{
    font-size: 2em;
    padding: 8px;
}

fieldset input[type=text], input[type=submit] , input[type=password]{
    padding: 12px;
    font-size: 16px;
    margin: 12px 0;
    border-radius: 10px;
}
fieldset input[type=text], input[type=password]{
    width: 100%;
}
fieldset input:focus{
    outline: 2px solid rgb(100 150 250);
}

fieldset input[type=submit]{
    background-color: rgb(0 200 10);
    border: none;
    color: white;
    font-weight: bold;
}

fieldset input[type=submit]:hover{
    background-color: rgb(0 180 10);
    cursor: pointer;
}

/*POR DESARROLLAR: RESPONSIVE*/

/*
@media (orientation: landscape){
    .galeria{
    background-color: initial;
    }
}
@media (orientation: portrait){
    .galeria{
    background-color: black;
    }
}
*/

/*Si es mayor a*/ 
/*
@media (min-width: 980px){
}
*/
/*Si es menor a*/
/*
@media (max-width: 560px){

}
*/


